header {
  background: rgba(233, 13, 123, 0.95);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 4%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  .logo-text {
    font-weight: 600;
    font-size: 1.2em;
  }

  nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
  }

  nav ul li a:hover {
    color: #d8a200;
  }
}

@media (min-width: 769px) {
  header {
    .nav-menu {
      btn-mobile {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 1rem;
        width: auto;
        padding: 0;
      }
    }
  }
}
